import urllib

AWS_ACCESS_KEY_ID = '%(access)s'
AWS_SECRET_ACCESS_KEY = '%(secret)s'

BROKER_URL = 'sqs://%%s:%%s@' %% (urllib.quote(AWS_ACCESS_KEY_ID, safe=''),
                               	  urllib.quote(AWS_SECRET_ACCESS_KEY, safe=''))

CELERY_IGNORE_RESULT = True
BROKER_TRANSPORT_OPTIONS = {
                            'queue_name_prefix': 'nimbostratus-',
                            'region': 'ap-southeast-1',
}